* {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    background-color: #CBB9CB;
    text-align: auto;
}

nav img {
    width: 100px;
}

nav a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 23px;
    padding-left: 15px;
    padding-right: 15px;
}

body {
    background-color: antiquewhite;
}

.zn {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

h1 {
    font-family: "Montserrat Bold", sans-serif;
    font-size: 35px;
}

.selfPortrait {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
}

